*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html{
    font-size: 62.5%;
}
:root{
    --text-color:#fff;
    --background-color:#ccc;
    --primary-font:2rem;
    --black:#000
}