header{
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}
header ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* line-height: 100px; */
    gap:3.0rem;
}
header ul li{
    font-size: var(--primary-font);
    color: var(--text-color);
    list-style: none;
    font-weight: 500;
    padding:1rem 1rem;
    background-color: aqua;
}