.main-content {
    position: absolute;
    left: 300px;
    // height: 100vh;
    height: 100vh;
    // width: 100%;
    background-color: rgb(32, 32, 57);
    top: 0;
    right: 0;
    .main-cards {
        margin: 100px 30px;
        display: flex;
        justify-content: space-around;
        .cards {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 1rem;
            margin-top: 50px;
            width: 200px;
            height: 130px;
            background-color: rgb(17,17,29);
            .cards-infor {
                .card-numbers {
                    font-size: 3.5rem;
                    font-weight: 700;
                    color: #fff;
                }
                .card-des {
                    color: #fff;
                    margin-top: 10px;
                    font-size: 2rem;
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }
            .card-icon i {
                font-size: 4rem;
                color: #fff;
            }
        }
    }
    .main-table {
        margin: 30px 60px;
        display: flex;
        justify-content: center;
        .table {
            width: 100%;
            height: auto;
            background-image: linear-gradient(
                to right,
                rgb(17,17,29),
                rgb(35, 48, 88)
            );
            padding: 20px;
            border-collapse: collapse;
            border-radius: 1rem;
            thead tr {
                background-image: linear-gradient(
                    to right,
                    rgb(23, 23, 113),
                    rgb(42, 71, 157)
                );
                padding: 30px 20px;
                color: aliceblue;
                font-size: 3rem;
                text-align: left;
                th{
                    padding: 10px;
                    text-align: left;
                }
            }
            .table-col{
                padding: 20px;
                font-size: 2rem;
                text-align: left;
                color: aliceblue;
                font-weight: 600;
                /* margin: 0 15px; */
                
            }
            tbody tr:hover{
                background-color: rgb(17,17,29);
                transition: 0.3s;
            }
        }
    }
}
