*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    /* font-family: 'Courier New', Courier, monospace; */
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    padding: 20px 13%;
    gap: 50px;
    position: relative;
}
.logo-heading span{
    color:red
}
.sub-heading{
    margin-top: 10px;
    color:#333;
    font-size: 13px;
    text-align: center;
}
.logo-trending{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.logo-trending p{
    font-size: 25px;
    color: #000;
    font-weight: 600;
}
.hashtag{
    display: flex;
    gap: 10px;
}
.hashtag a{
    display: block;
    padding: 4px 5px;
    border: 1px solid #333;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: 600;
}
nav{
    width: 100%;
    height: 40px;
    background-color: #ed1c23;
    line-height: 30px;

}
.nav-list{
    display: flex;
    list-style: none;
    max-width: 1140px;
    margin: 0 auto;
}
.nav-items{
    display: block;
    padding: 5px 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-items:hover{
    background-color: #fff;
    color: #ed1c23;
}
.upper-news{
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 10px;
}
.upper-news-items{
    width: 33%;
}
.upper-news-items-img{
    width: 100%;
    height: 250px;
    position: relative;
}
.upper-news-items-img img{
    width: 100%;
    height: 100%;
}
.img-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    height: 100px;
}
.img-content a{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    display: block;
}
.time{
    font-size: 18px;
    color: #757575;
    margin:10px 0;
}
.time span{
    color: #a44d50;
    font-size: 18px;
    font-weight: 600;
}
.upper-content-items-des{
    font-size: 16px;
    color: #707070;
}
/* main-content */
.main-content{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 50px;
}
.main-news{
    width: 66%;
}
.main-news-upper{
    width: 100%;
    display: flex;
    gap: 10px;
}
.main-news-upper-left{
    width: 50%;
}
.main-news-upper-left-img{
    width: 100%;
    height: 250px;
}
.main-news-upper-left-img img{
    width: 100%;
    height: 100%;
}
.main-news-upper-left-title{
    font-size: 25px;
    color: #414141;
    font-weight: 600;
    margin-top: 10px;
    display: block;
}
.main-news-upper-left-des{
    font-size: 15px;
    color: #8b8989;
}
.main-news-upper-right{
    width: 50%;
}
.main-upper-right-items{
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #e0dfdf;
    padding: 5px 0;
}
.items-img{
    width: 40%;
    height: 120px;
}
.items-content{
    width: 60%;
}
.items-content-title{
    color: #000;
    font-weight: 600;
    font-size: 15px;
}
.items-img img{
    width: 100%;
    height: 100%;
}
.subnews{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.subnews-items{
    list-style-position: inside;
    gap: 10px;
    border-bottom:1px solid #ccc ;
    padding: 10px 10px;
    align-items: center;
}
.subnews-items::marker{
    color: #a44d50;
}
.subnews-items:last-child{
    border: none;
}
.subnews-link{
    font-size: 18px;
    color: #333;

}

/* Main news Down */
.main-news-down{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.main-news-down-items{
    display: flex;
    gap: 10px;
}
.main-news-down-items-img{
    width: 30%;
    height: 200px;
}
.main-news-down-items-img img{
    width: 100%;
    height: 100%;
}
.main-news-down-items-content{
    width: 70%;
}
.main-news-down-items-title{
    font-size: 23px;
    color: #000;
    font-weight: 600;
}
.banner{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-news-down-items-des{
    font-size: 16px;
    color: #757575;
}
.group-btn{
    margin-top: 50px;
    padding: 15px ;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.single-btn{
    padding: 6px 12px;
    border: none;
    outline: none;
    border: 1px solid #ccc;
}
.single-btn:first-child{
    background-color: #a44d50;
}
.single-btn:first-child a{
    color: #fff;
}

/* Footer */

footer{
    margin-top: 30px;
    width: 100%;
    background-color: #333;
    padding: 25px 15%;
    display: flex;
    border-top: 10px solid #a44d50;
}
.footer-items{
    width: 33%;
    padding: 0 10px;
    border-right: 1px solid #808080;
}
.footer-items:last-child{
    border: none;
}
.footer-items ul li{
    padding: 5px 5px;
    color: #c9c7c7;
    font-size: 15px;
}
.footer-items ul li span{
    color: #fff;
    font-size: 16px;
}
.footer-items ul li::marker{
    font-size: 16px;
    color: #a44d50;
}
.advertise{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.footer-items-heading{
    color: #d2cdce;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 10px;
}
.adver-btn{
    display: block;
    padding: 5px 10px;
    background-color: #eb1d25;
    color: #d2cdce;
}
.contact-place{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.address{
    color: #d2cdce;
    font-size: 20px;
}
.street{
    color: #d2cdce;
    font-size: 16px;
}
.address i{
    color: #a44d50;
    font-size: 20px;
    margin-right: 5px;
}