#member{
    // margin-top: 50px;
    width: 100%;
    // display: flex;
    margin: 50px auto;
    justify-content: center;
    padding:0 30px;
    .member-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .member-content-heading{
            text-align: center;
            font-size: 3rem;
            text-transform: uppercase;
            letter-spacing: 4px;
            margin:20px auto;
        }
        .member-content-subheading{
            text-align: center;
            font-size: 1.5rem;
            font-style: italic;
            margin: 15px auto;
        }
        .member-content-des{
            padding:0 50px;
            font-size: 1.5rem;
            line-height: 2;
            font-weight: 500;
        }
    }

    .member-card{
        margin: 50px auto;
        display: flex;
        justify-content: space-evenly;
        .member-card--items{
            .member-card-infor{
                text-align: center;
                font-size: 2rem;
                padding: 20px 0;
                font-weight: 400;
            }
            img{
                border-radius: 1rem;
                box-shadow: 0 0 10px #000;
            }
        }
    }
}