#slider{
    margin-bottom: 50px;
    width: 100%;
    padding-top: 50%;
    background: url("../assets/image/la.jpg") top center/ cover no-repeat;
    display: flex;
    margin: auto;
    justify-content: center;
    .slider-content{
        padding-bottom: 20px;
        .slider-content--heading{
            font-size: 3rem;
            text-align: center;
            color: $primary-color;
            padding-bottom:20px;
        }
        .slider-content--des{
            font-size: 1.6rem;
            color: $primary-color;
            font-weight: 600;
            padding: 20px 0;
            text-align: center;
        }
    }
}